mixin login
    if (user)
        form
        ul.nav.navbar-nav.navbar-right
            li
                img.small-avatar(src='/static/imgs/avatar.png')
            li
                a(href='/profile/' + user.username)
                    =user.username
            li
                a(href='/auth/sign-out') 
                    | Log off
    else
        ul.nav.navbar-nav.navbar-right
            li
                a(href='/auth/sign-up')
                    | Register
            li
                a(href='/auth/sign-in')
                    | Login