mixin post(username, text)
    .col-sm-12
        .row
            .col-sm-6.col-sm-offset-2
                img.large-avatar(src='/static/imgs/avatar.png')
                p.user-title
                    | #{username}
                h4
                    | #{text}
                hr