mixin socialNav
    if (user)
        ul.nav.navbar-nav
            li 
                a(href='/profile/' + user.username)
                    | Profile
            li 
                a(href='/items/chat')
                    | Chat