mixin socialNav
    if (user)
        ul.nav.navbar-nav
            li 
                a(href='/profile/' + user.username)
                    | Profile
            li 
                a(href='/items/chat')
                    | Chat
        form.navbar-form.navbar-left(role='search')
            .form-group
                input.form-control(id='searchField' type='text', placeholder='Search')
                button.btn.btn-default(type='submit') Submit
        script(src="../../static/js/searchRequester.js")