extends ../../../node_modules/pug-bootstrap/_bootstrap
block append head
    title  Leisure Project Website
    link(rel='stylesheet', href='https://bootswatch.com/cerulean/bootstrap.min.css')
block append styles
    script(src=' https://use.fontawesome.com/2d804f2dcd.js')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
block body
    block nav
        include ./nav.pug
    div.container.page-content
        block main-content