extends ../_shared/_master
include ../_shared/_post_input
include ../_shared/_post
block body
    if message
        p
            | #{message}
    .col-md-1
        if  user.avatarPath
            img.profile(src=user.avatarPath)
        else
            img.profile(src='/static/imgs/avatar.png')
        br
        input(type="button" class="btn btn-default" value="Change image" onclick="location.href = '/profile/change/avatar';")
        h3
            | #{context.username}
    .col-md-11
        +postInput
    each post in context.posts
        +post(user.username, post.text)