extends ../_shared/_master
include ../_shared/_post_input
include ../_shared/_post
block body
    .col-md-1
        img(src='/static/imgs/avatar.png')
        h2 
            | #{context.username}
    .col-md-11
        +postInput
    each post in context.posts
        +post(user.username, post.text)