include ../_shared/_post
block body
    if message
        p
            | #{message}
    .col-md-1
        if  context.avatarPath
            img.profile(src=context.avatarPath)
        else
            img.profile(src='/static/imgs/avatar.png')
        br
        if user.username == context.username
            input(type='button' class='btn btn-default' value='Change image' onclick="location.href = '/profile/change/avatar';")
        if user.username != context.username
            input(id='addButton' type='button' class='btn btn-default' value='Send friend request')
        h3
            | #{context.username}
    .col-md-11
    each post in context.posts
        +post(user.username, post.text)
script.
    $('#addButton').click(function(){
    var username = $('h3').text();
    console.log(username);
     $.ajax({
        url: '/profile//sendrequest/' + username,
        method: 'GET',
        contentType: 'application/json',
        data: JSON.stringify({username: username}),
        success: function(){
            $('#addButton').prop('disabled', true);
        }
    });

        return false;
    });